@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    font-size: 16px;
}

html {
    font-family: 'Lato', sans-serif;
    --color-background-dark: #496581;
    --color-background-dark-60: #49658160;
    --color-background-light: #e0fdff;
    --color-background-white: #fff;
    --color-text-dark: #313030;
    --color-text-light: #ffd891;
    --color-text-white: #fff;
    --color-button-regular: #407283;
    background-color: var(--color-background-light);
    color: var(--color-text-dark);
}
