.header {
	width: 100%;
	height: 55px;
  position: sticky;
	top: 0;
	padding-top: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: rgb(137, 172, 224);
	z-index: 1;
}
.header-navLink-wrapper {
	width: 90%;
  display: flex;

}
.fake-header {
	position: sticky;
	top: 45px;
	height: 20px;
	background-color: rgb(137, 172, 224);
	z-index: 1;
}
.header-navLink-wrapper ul {
	margin-left: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
} 
.header-navLink-wrapper a {
	margin-right: 20px;
	text-decoration: none;
	text-transform: uppercase;
} 
.active-link {
	color: rgb(255, 255, 255);
}