.header {
	width: 100%;
	height: 55px;
  position: sticky;
	top: 0;
	padding-top: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	z-index: 1;
	background-color: var(--color-background-dark);
}
.header-navLink-wrapper {
	width: 90%;
  	display: flex;

}
.fake-header {
	position: sticky;
	top: 45px;
	height: 20px;
	background-color: rgb(137, 172, 224);
	z-index: 1;
}
.header-navLink-wrapper ul {
	margin-left: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
} 
.header-navLink-wrapper a {
	margin-right: 20px;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--color-text-white);
}

.header a:hover {
	border-bottom: 1px solid var(--color-text-light);
	color: var(--color-text-light);
}

.header .active-link {
	color: var(--color-text-light);
}