.footer {
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: rgb(255, 255, 255);
  background-color: rgb(68, 68, 68);
}
.footer-rsSchool-link {
	text-decoration: none;
	color: white;
}
.gitlinks-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.gitlinks-container img {
	margin: 0 5px;
}
.footer-git-link {
	margin-right: 0 5px;
	text-decoration:none;
	color: rgb(255, 255, 255);
}